@import '../../styles/mixins';

.home-pet {
  .ant-table-wrapper {
    width: 100%;
  }

  &-head {
    padding-bottom: 24px;
    text-align: center;
    border-bottom: 1px solid #eee;
  }

  &-main {
    margin: 24px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .ant-card {
      margin-bottom: 20px;
    }
  }

  &-footer {
    padding: 24px 0;
    display: flex;
    flex-direction: row-reverse;
  }
}
